body {
	color: #111;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

a {
	text-decoration: none;
	color: #111;
	font: 18px sans-serif;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: none;
	list-style-image: none;
	padding: 0;
	margin: 5px;
}

li {
	display: inline;
	padding: 10px;
}

.a_title {
	font: bold 33px sans-serif;
	color: #3399FF;
}

.a_body {
	margin-bottom: 25px;
	padding: 1ex;
}

.article {
	font: 16px sans-serif;
	margin-left: 15pt;
}

.timedate {
	font: italic 12px sans-serif;
}

.pagelink {
	font: bold 20px sans-serif;
}


#header {
	float: left;
	margin-bottom: 60px;
}

#header a {
	text-decoration: none;
}

#content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	clear: both;
}

#main_title {
	display: block;
	font: bolder 70px sans-serif;
	font-variant: small-caps;
}

#sub_title {
	display: block;
	font: 28px sans-serif;
}

#username {
	font-weight: bold;
}

#login {
	float: right;
}

#login a {
	font-size: 25px;
}

#nav {
	float: right;
	clear: right;
}

